{% extends 'layout/master.html.twig' %}

{% block title %}Login - {% endblock %}

{% block contents %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login</h2>

            <hr>

            {% if error %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>

                <hr>
            {% endif %}

            <form action="{{ path('login-check') }}" method="post">
                <p>
                    <label for="email">Email Address:</label>
                    <input type="text" name="_username" id="email" class="form-control" value="{{ lastUsername }}" autofocus />
                </p>

                <p>
                    <label for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control" />
                </p>

                <hr>

                <p>
                    <button class="btn btn-success form-control">Login</button>
                </p>

                <hr>

                <p><a href="{{ path('signup') }}">Create a New User</a></p>
            </form>
        </div>
    </div>
{% endblock %}