{% extends 'layout/master.html.twig' %}

{% block title %}Signup - {% endblock %}

{% block contents %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Signup</h2>

            <hr>

            <form action="{{ path('signup-process') }}" method="post">
                <p>
                    <label for="name">Full Name:</label>
                    <input type="text" name="name" id="name" class="form-control" autofocus />
                </p>

                <p>
                    <label for="email">Email Address:</label>
                    <input type="text" name="email" id="email" class="form-control" />
                </p>

                <p>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" />
                </p>

                <hr>

                <p>
                    <button class="btn btn-success form-control">Signup</button>
                </p>

                <hr>

                <p><a href="{{ path('login') }}">Go Back to Login</a></p>
            </form>
        </div>
    </div>
{% endblock %}